CREATE TABLE eoi_records (
            id               INTEGER PRIMARY KEY AUTOINCREMENT,

            -- Waktu snapshot
            as_at_str        TEXT NOT NULL,        -- '03/2024'
            as_at_year       INTEGER NOT NULL,      -- 2024
            as_at_month_no   INTEGER NOT NULL,      -- 3

            -- Visa
            visa_type        TEXT NOT NULL,         -- '190' | '491' | '189'
            visa_type_full   TEXT,                  -- nama lengkap

            -- Occupation
            anzsco_code      TEXT,                  -- '261313'
            occupation_name  TEXT NOT NULL,         -- 'Software Engineer'

            -- EOI data
            eoi_status       TEXT NOT NULL,         -- SUBMITTED|INVITED|HOLD|CLOSED|LODGED
            points           INTEGER NOT NULL,      -- 35ΓÇô110
            count_eois       INTEGER NOT NULL,      -- angka, atau -1 kalau '<20'
            state            TEXT NOT NULL,         -- ACT|NSW|VIC|QLD|WA|SA|TAS|NT

            -- Metadata
            ingested_at      TEXT DEFAULT (datetime('now'))
        );
CREATE INDEX idx_eoi_state      ON eoi_records(state);
CREATE INDEX idx_eoi_anzsco     ON eoi_records(anzsco_code);
CREATE INDEX idx_eoi_status     ON eoi_records(eoi_status);
CREATE INDEX idx_eoi_year       ON eoi_records(as_at_year);
CREATE INDEX idx_eoi_visa_type  ON eoi_records(visa_type);
CREATE INDEX idx_eoi_snapshot ON eoi_records(as_at_str);
CREATE INDEX idx_eoi_snap_anzsco ON eoi_records(as_at_str, anzsco_code);
CREATE INDEX idx_eoi_snap_state ON eoi_records(as_at_str, state);
CREATE INDEX idx_eoi_snap_visa ON eoi_records(as_at_str, visa_type);
CREATE INDEX idx_eoi_year_month ON eoi_records(as_at_year DESC, as_at_month_no DESC);
